*
{
	padding:0;
	margin:0;
}
body{
	width:100%;
	height:100%;
}
@media all and (max-width: 699px) and (min-width: 100px), (max-width: 400px) {

body{
	width:100%;
	height:100%;
	background-color: #f00;
}
}